button {
  border-radius: 7px;
  background-color: rgb(123, 230, 123);
  font-size: 20px;
  cursor: pointer;
  transition: color 0.25s ease-in-out;
}

button:hover {
  color: rgb(32, 124, 245);
}
button:focus {
  color: rgb(9, 74, 158);
  outline: none;
  background-color: rgb(129, 127, 255);
}
