body,
header,
nav,
form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
body {
  background-color: rgb(196, 190, 183);
}
select {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 50px;
  width: 100%;
}
button {
  display: inline-flex;
  flex-wrap: wrap;
  background-color: rgb(228, 171, 102);
  margin: 20px;
}
.statistic {
  display: flex;
  flex-flow: column;
  border: 1px solid dimgray;
}
.hidden {
  display: none;
}
