body,
header,
nav,
form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
body {
  background-color: rgb(196, 190, 183);
}
select {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
main {
  display: inline-flex;
  justify-content: center;
  width: 98%;
}
.content {
  display: flex;
  flex-flow: column;
  align-items: center;

  margin-left: 50px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid grey;
  background-color: rgb(163, 129, 16);
}
button {
  display: flex;
  flex-flow: column;
  background-color: rgb(228, 171, 102);
  margin: 10px;
  border-radius: 70%;
  background-color: rgb(150, 120, 15);
}
button:hover {
  cursor: pointer;
}
button:focus {
  background-color: rgb(255, 146, 13);
}
.buttonOnOff {
  background-color: rgb(255, 146, 13);
}
.hidden {
  display: none;
}
h2 {
  margin: 15px;
}
p {
  margin: 10px;
}
